// Here you can add other styles
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  input {
    border: 1px solid #ccc;
    padding: 2px 5px;
    border-radius: 2px;
    min-height: 36px;
  }
}

.small-loader-container {
  max-height: 75px;
  max-width: 75px;
}

.red-border {
  border: 1px solid red !important;
}

.color-red {
  color: red !important;
}
